<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">CULCOOL</a></h2>
                <p class="menu">
                    <a routerLinkActive="active" routerLink="/user/Prediccion">Inicio</a>
                    <a (click)="isloge()" routerLink="/login-signup">Cerrar Sesión</a>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright ©2023 All rights reserved. By <i class="ion-ios-heart" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</footer>